---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col">
		<div class="flex flex-row gap-4 m-16 justify-center">
			<div class="transition-all hover:scale-[1.03] rounded-3xl bg-[#3838fc] h-auto w-64 aspect-square"><img src="../OICw.webp" class="scale-[0.6]"/></div>
			<div class="transition-all hover:scale-[1.03] rounded-3xl bg-white h-auto w-[32rem] flex"><img src="../oic_logo_landscape.webp" class="scale-75 object-scale-down"/></div>
			<div class="transition-all hover:scale-[1.03] rounded-3xl bg-[#1e1e1e] h-auto w-64 aspect-square"></div>
		</div>

		
	</main>
</Layout>