---

---
<header class="navbar absolute p-16">
    <div class="navbar-start"><img src="../oic_logo_landscape_white.webp" alt="OIC Logo" class="h-16 w-auto"></div>
    <div class="navbar-center"></div>
    <div class="navbar-end ">
        <div class="dropdown dropdown-end dropdown-hover">
            <div tabindex="0" role="button" class="btn btn-ghost btn-square m-1 hover:bg-[#1e1e1e] hover:bg-opacity-30">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
            </div>
            <ul
            tabindex="0"
            class="menu menu-md dropdown-content bg-[#1e1e1e] rounded-box z-[1] w-52 p-2 shadow">
            <li><a>Homepage</a></li>
            <li><a>Portfolio</a></li>
            <li><a>About</a></li>
          </ul>
        </div>		  
    </div>
</header>